#Masquage de l'url 

RewriteEngine on
RewriteBase /tests/Suivi/
RewriteRule ^identification$ page/administration/Login.php
RewriteRule ^Comptes$ page/administration/GestComptes.php
RewriteRule ^Traitement$ app/Traitement.php
RewriteRule ^administration$ page/administration/admin.php
RewriteRule ^geolocalisation$ page/Carte.php
RewriteRule ^([a-zA-Z0-9\-]+)$ index.php?p=$1 
 
